{% extends 'gliocas_app/base.html' %}

{% block title_block %}
    About us
{% endblock %}

{% block body_block %}
    <h1 class="mt-1"> About </h1>
    <!-- <a href = "{% url 'subjects' %}"> Subjects </a> -->
    <div class="row">
        <div class="col">
            <div class="card my-3 rounded shadow">
                <div class="card-body">
                    <h2 class="card-title">About us</h2>
                    <p>Our mission is to connect students all across University of Glasgow so they can help each other with the questions they have over what they are learning</p>
                </div>
            </div>
            
        </div>

    </div>
{% endblock %}