<!DOCTYPE html>
{% load staticfiles %}

<html lang="en-US">

<head>
    <!-- meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:600" rel="stylesheet">

    <!-- BoostrapCDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">

    <!-- CSS Script -->
    <link rel="stylesheet" type="text/css" href="{% static 'gliocas_app/css/base.css' %}">

    <!-- favicon-->
    <link rel="icon" href="{% static 'gliocas_app/img/favicon.png' %}">

    <!-- mathjax LaTex-->
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML"
        async></script>

    <!-- ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/gliocas-ajax.js' %}"></script>


    <title>
        Gliocas -
        {% block title_block %}
        share your uni knowledge!
        {% endblock %}
    </title>
</head>




<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'gliocas_app/img/base/logo_flat_dark.png' %}" width="auto" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav col-sm mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'subjects' %}">Browse</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user' user.username %}">My Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
				{% else %}
				<li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                {%endif%}
                <li class="nav-item mr-2">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>
                <li class="nav-item">
                    <form class="form-inline search-bar" id="user_form" method="post" action="{% url 'search' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            {% if user_query %}
                            <input class="form-control  rounded-pill search" type="search" placeholder="Search" name="query"
                                value="{{ user_query }}" id="query">
                            {% else %}
                            <input class="form-control rounded-pill search" type="search" placeholder="Search" name="query"
                                value="" id="query">
                            {% endif %}
                        </div>
                    </form>
                </li>
                
            </ul>
        </div>
    </nav>
    <div class="img-fluid" style="background-image: url('{% static 'gliocas_app/img/base/background.png' %}'); background-repeat: no-repeat; background-position: top left; object-fit: none; background-size: 100%; margin-top:-1em;">
        <div class="container">
            <br />
            {% block body_block %}

            {% endblock %}


            <!-- Footer -->
            <footer class="page-footer font-small blue">
                <!-- Copyright -->
                <div class="footer-copyright text-center py-3">
                    © Gliocas, 2019. All Rights Reserved.
                </div>
            </footer>

            <!-- Boostrap Scripts -->
            <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script> -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
        </div>
    </div>
</body>

</html>