<!DOCTYPE html>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'gliocas_app/css/base.css' %}">
<html lang="en-US">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,900" rel="stylesheet">        <link rel="icon" href="{% static 'gliocas_app/img/favicon.png' %}">
        <link href="https://fonts.googleapis.com/css?family=Raleway:600" rel="stylesheet">
        <title>
            Gliocas -
            {% block title_block %}
                share your uni knowledge!
            {% endblock %}
        </title>
    </head>
    <body>
        <nav>
            <img id=background src="{% static 'gliocas_app/img/base/background.png' %}" alt="background">
            <div id="nav-bar">
                <a href="{% url 'home' %}"><img id=home height="30em" src="{% static 'gliocas_app/img/base/logo_flat_dark.png' %}" alt="logo"></a>
                <div id="category">Browse</div>
                <div id="about"><a href="{% url 'about' %}">About</a></div>
                <div id="contact"><a href="{% url 'contact' %}">Contact</a></div>
                <input id="search" type="text" placeholder="What are you looking for?">
            </div>
            {% block body_block %}
            {% endblock %}

        </nav>
        <div class=content>
            <h2>Title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

        <!--
        
        <div>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {%else%}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                {%endif%}
            </ul>
        </div>
        -->
        <div id=footer>
            <div id=copyright>© Gliocas, 2019. All Rights Reserved.</div>
            <img id=footer-mascot src="{% static 'gliocas_app/img/base/mascot.png' %}" alt="mascot">
            <img id=footer-pattern src="{% static 'gliocas_app/img/base/footer pattern.png' %}" alt="footer pattern">
        </div>
    </body>
</html>
