<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>
            Gliocas -
            {% block title_block %}
                share your uni knowledge!
            {% endblock %}
        </title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="{% static "js/gliocas-ajax.js" %}"></script>
    </head>
    <body>
        <div>
        {% block body_block %}
        {% endblock %}
        </div>
        <hr/>

        <div>
            <ul>
                <li><a href="{% url 'index' %}">Index</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
				<li><a href="{% url 'search' %}">Search</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'user' user.username %}">My account</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {%else%}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                {%endif%}
            </ul>
        </div>
    </body>
</html>
