{% extends 'gliocas_app/base.html' %}

{% block title_block %}
    Contact
{% endblock %}

{% block body_block %}
    <h1 class="mt-1"> Contact </h1>
    <div class="row">
        <div class="col">
            <div class="card my-3 rounded shadow">
                <div class="card-body">
                    <h2 class="card-title">Contact us</h2>
                    <p>Call +44 5555 555555</p>
                    <p>Email: contact@gliocas.com</p>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}