{% extends 'gliocas_app/base.html' %}

{% block title_block %}
    {{ course }}
{% endblock %}

{% block body_block %}
    <h3> This is the list of questions for {{ course }} in subject {{ subject }} </h3>
	{% if followed %}
		<a href="{% url 'follow' subject.slug course.slug %}"> Unfollow this course </a>
	{% else %}
		<a href="{% url 'follow' subject.slug course.slug %}"> Follow this course </a>
	{% endif %}

    <div>
        {% if questions %}
        <ul>
            {% for question in questions %}
                <li><a href="{% url 'show_question' subject.slug course.slug question.slug %}"> {{ question.title }}</a>
                {% if user == question.poster %}
                    <a href="{% url 'delete_question' subject_slug=subject.slug course_slug=course.slug question_slug=question.slug %}"> Delete</a>
                {% endif %}
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>There are no questions.</strong>
        {% endif %}
    </div>

    <a href="{% url 'add_question' subject.slug course.slug %}"> Add question </a>

{% endblock %}