{% extends 'gliocas_app/base.html' %}
{% load upvotescore %}

{% block title_block %}
{{ course }}
{% endblock %}

{% block body_block %}

<h1 class="mt-1"><a href="{% url 'show_subject' subject.slug %}" id="title">{{ subject }} {{ course }} </a></h1>
<div class="row">
    <div class="col-md-12 col-lg-3">
        <div class="card justify-content-start rounded shadow mt-3">
            <div class="card-body">
                {% if followed %}
                <h4 class="card-title mb-3">You are following this course.</h4>
                <button id="follow" data-courseslug="{{course.slug}}" data-subjectslug="{{subject.slug}}" class="follow{{course.slug}} btn btn-lg btn-block btn-outline-danger rounded-pill"
                    type="button">UNFOLLOW</button>
                {% else %}
                <h4 class="card-title mb-3">You are not following this course.</h4>
                <button id="follow" data-courseslug="{{course.slug}}" data-subjectslug="{{subject.slug}}" class="follow{{course.slug}} btn btn-lg btn-block btn-outline-primary rounded-pill"
                    type="button">FOLLOW</button>
                {% endif %}
                <a href="{% url 'add_question' subject.slug course.slug %}" class="btn btn-lg btn-block btn-primary rounded-pill">POST</a>
            </div>
        </div>
    </div>

    {% if questions %}
    <div class="col-md-12 col-lg-8">
        {% for question in questions %}
        <div class="card my-3 rounded shadow">
            <a href="{% url 'show_question' question.course.subject.slug question.course.slug question.slug%}">
                <div class="card-body">
                    <h2 class="card-title"> {{ question.title }} </h2>
                    <p class="card-subtitle text-muted">
                        By <a href="{% url 'user' question.poster.username %}">{{ question.poster }}</a> on {{ question.date }}
                    </p>
                    <p class="card-subtitle text-muted">

                        {% questionscore question %} upvotes | {{question.views}} views
                    </p>
                    <hr />
                    <p> {{ question.text }} </p>
                    {% if question.picture %}
                    <img src="{{ MEDIA_URL }}{{ question.picture }}" class="img-thumbnail" alt="image" />
                    {% endif %}
                    {% if user == question.poster %}
                    <hr/>
                    <a href="{% url 'delete_question' subject_slug=subject.slug course_slug=course.slug question_slug=question.slug %}" class="btn btn-sm btn-outline-danger rounded-pill">Delete</a>
                    {% endif %}
                </div>
            </a>
        </div>

        {% endfor %}
    </div>
    {% else %}
    <div class="card my-3 rounded shadow">
        <div class="card-body">
            <strong>There are no questions.</strong>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
