{% extends 'gliocas_app/base.html' %}
{% load upvotescore %}

{% block title_block %}
Home
{% endblock %}

{% block body_block %}
<h1 class="mt-1"> Home </h1>
<!-- <a href = "{% url 'subjects' %}"> Subjects </a> -->
<div class="row">
    <div class="col-md-12 col-lg-3">
        <div class="card justify-content-start rounded shadow mt-3">
            <div class="card-body">
                <h4 class="card-title display-4 mb-1">Hello there</h2>
                {% if user.is_authenticated %}
                <h3 class="mb-5"><a href="{% url 'user' user.username %}">{{ user.username }}</a></h3>
                <a href="{% url 'logout' %}" class="btn btn-lg btn-block btn-danger rounded-pill" style="color:white;">Logout</a>
                {%else%}
                <a href="{% url 'login' %}" class="btn btn-lg btn-block btn-outline-primary rounded-pill" id="login">LOGIN</a>
                <a href="{% url 'register' %}" class="btn btn-lg btn-block btn-primary rounded-pill" id="register">REGISTER</a>
                {%endif%}

            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-8">
		{% for question in questions %}
        <div class="card my-3 rounded shadow">
            <div class="card-body">
                <h2 class="card-title"><a href="{% url 'show_question' question.course.subject.slug question.course.slug question.slug%}">{{ question.title }}</a></h2>
                <p>{{question.text}}</p>
				{% if question.picture %}
					<li>{{question.picture}}</li>
				{%endif%}
				<li><a href="{% url 'user' question.poster.username %}">{{ question.poster }}</a></li>
				<li>{{question.views}} views</li>
				<li>{% questionscore question %} upvotes</li>
				<li>{{question.date}}</li>
            </div>
        </div>
		{% endfor %}
    </div>
</div>
{% endblock %}