{% extends 'gliocas_app/base.html' %}
{% load upvotescore %}

{% block title_block %}
Search
{% endblock %}

{% block body_block %}
<h1 class="mt-1"> SEARCH </h1>
<div class="row">
	{% if result_list %}
	<div class="list-group">
		{% for question in result_list %}
		<div class="card rounded shadow">
				<a href="{% url 'show_question' question.course.subject.slug question.course.slug question.slug%}">
					<div class="card-body">
						<h2 class="card-title"> {{ question.title }} </h2>
						<p class="card-subtitle text-muted">
							By <a href="{% url 'user' question.poster.username %}">{{ question.poster }}</a> on {{ question.date }}
						</p>
						<p class="card-subtitle text-muted">
							
							{% questionscore question %} upvotes | {{question.views}} views
						</p>
						<hr />
						<p> {{ question.text }} </p>
						{% if question.picture %}
						<img src="{{ MEDIA_URL }}{{ question.picture }}" class="img-thumbnail" alt="image" />
						{% endif %}
					</div>
				</a>
			</div>
		{% endfor %}

	</div>
	{% else %}
	{% if user_query %}
	<div>No results</div>
	{% endif %}
	{% endif %}
</div>
{% endblock %}