{% extends 'gliocas_app/base.html' %}

{% block title_block %}
{{ subject }}
{% endblock %}

{% block body_block %}
<h1 class="mt-1">{{ subject }}</h1>

<div class="row">

{% if courses %}
    {% for course in courses %}

    <div class="card my-3 rounded shadow col-3 mx-3">
        <a href="{% url 'show_course' subject.slug course.slug %}">
            <div class="card-body text-center">
                <h2>{{ subject }} {{ course.name }}</h2>
            </div>
        </a>
    </div>

    {% endfor %}
{% else %}
<div class="card-body">

    <strong>There are no courses.</strong>
</div>

{% endif %}
</div>

{% endblock %}