{% extends 'gliocas_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
    user {{ username }}
{% endblock %}

{% block body_block %}
<h1 class="mt-1">USER PROFILE</h1>

<div class="card my-3 rounded shadow">
	<div class="card-body">
			{% if exists %}
			
							<h2 class="card-title"> {{username}} </h2>
							<hr/>
				Contact {{username}} at {{ searched_user.email }}. </br>
				{{username}} has asked {{numquestions}} <a href="{% url 'user_questions' username %}">question(s)</a>.</br>
				{{username}} has answered {{numanswers}} <a href="{% url 'user_answers' username %}">questions(s)</a>.</br>
				{% if sameUser %}
					{% if followed %}
						<br/>
						<h2> Your courses </h4>
						<hr/>
						<ul>
						{% for course in followed %}
							<div class="row my-3">
								<button id="follow" data-courseslug="{{course.slug}}" data-subjectslug="{{subject.slug}}" class="follow{{course.slug}} btn btn-sm btn-primary mr-2 rounded-pill" type="button">UNFOLLOW</button>
								<h4><a href="{% url 'show_course' course.subject.slug course.slug %}"> {{ course.name }}</a></h4>
							</div>
						{% endfor %}
						</ul>
						{% if questions %}
						<br/>
							<h2> Recent questions from your followed courses </h2>
							<hr/>
							<ul>
							{% for question in questions %}
								<h4><a href="{% url 'show_question' question.course.subject.slug question.course.slug question.slug %}"> {{ question.title }}</a></h4>
								<br/>
							{% endfor %}
							</ul>
						{% else %}
							<h4> There are no activities in your courses </h4>
						{% endif %}
					{% else %}
						<h4> You aren't following any courses </h4>
					{% endif %}

				{% endif %}
			{% else %}
				<h3> User '{{ username }}' does not exist. </h3>
			{% endif %}
		</div>
</div>
{% endblock %}
