{% extends 'gliocas_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
user {{ username }}'s {{objectname}}
{% endblock %}

{% block body_block %}
<h1 class="mt-1"> USER PROFILE </h1>

{% if exists %}
<div class="card my-3 rounded shadow">
    <div class="card-body">
        <h2> {{username}}'s {{objectname}} </h2>

        {% if questions %}
        {% for question in questions %}
        <hr/>
        <a href="{% url 'show_question' question.course.subject.slug question.course.slug question.slug %}">

            <h4>{{question.title}}</h4>
        </a>
        {% endfor %}
        {% else %}
        No {{objectname}} found.
        {% endif %}

        {% else %}
        <h3> User '{{ username }}' does not exist. </h3>
        {% endif %}
    </div>
</div>
{% endblock %}