{% extends 'gliocas_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
    user {{ username }}
{% endblock %}

{% block body_block %}
<h1 class="mt-1">USER PROFILE</h1>

<div class="card my-3 rounded shadow">
	<div class="card-body">
			{% if exists %}
			
							<h2 class="card-title"> {{username}} </h2>
				Contact {{username}} at {{ searched_user.email }}. </br>
				{{username}} has asked {{numquestions}} <a href="{% url 'user_questions' username %}">question(s)</a>.</br>
				{{username}} has answered {{numanswers}} <a href="{% url 'user_answers' username %}">questions(s)</a>.</br>
				{% if sameUser %}
					{% if followed %}
						<h4> Your courses </h4>
						{% for course in followed %}
							<li><a href="{% url 'show_course' course.subject.slug course.slug %}"> {{ course.name }}</a></li>
							<li><a href="{% url 'follow' course.subject.slug course.slug %}"> Unfollow this course </a></li>
							<br>
						{% endfor %}
						{% if questions %}
							<h4> Recent questions from your followed courses </h4>
							{% for question in questions %}
								<li><a href="{% url 'show_question' question.course.subject.slug question.course.slug question.slug %}"> {{ question.title }}</a></li>
							{% endfor %}
						{% else %}
							<h4> There are no activities in your courses </h4>
						{% endif %}
					{% else %}
						<h4> You aren't following any courses </h4>
					{% endif %}

				{% endif %}
			{% else %}
				<h3> User '{{ username }}' does not exist. </h3>
			{% endif %}
		</div>
</div>
{% endblock %}
