{% extends 'gliocas/base.html' %}

{% block title_block %}
    {{ course }}
{% endblock %}

{% block body_block %}
    <h3> This is the list of questions for {{ course }} in subject {{ subject }} </h3>

    <div>
        {% if questions %}
        <ul>
            {% for question in questions %}
                <li><a href="{% url 'show_question' subject.slug course.slug question.slug %}"> {{ question.title }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>There are no questions.</strong>
        {% endif %}
    </div>

    <a href="{% url 'add_question' subject.slug course.slug %}"> Add question </a>

{% endblock %}