body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #F0F1FA;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 6em;
    margin-left: 15%;
}

nav {
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
}

input:focus{
    outline: none;
}

.content {
    position: relative;
    width: 50%;
    left: 25%;
    margin: 0;
    margin-top: 15%;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    background: white;
    border-radius: 1em;
    box-shadow: 0 20px 60px 0px rgba(0,0,0,0.2);
}

/* TODO */
.button {

}

#nav-bar {
    position: absolute;
    width: 100%;
    height: 10%;
    color: white;
    font-weight: 900;
    display: table-cell;
}

#background {
    z-index: -1;
    float: left;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

#home, #category, #search, #about, #contact {
    margin: 10px;
    display: inline-block; 
    vertical-align: middle;
    text-align: center;
}
#search {
    margin: 10px;
    padding-top: 0.2em;
    padding-left: 1em;
    width: 25em;
    height: 1.7em;
    border: 1px solid white;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    font-weight: 300;
    font-size: 1em; 
    color: rgba(255, 255, 255, 50);
}

#footer {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    vertical-align: bottom;
    display: inline-block;
    text-align: center;
}

#copyright, #footer-mascot, #footer-pattern {
    margin: 10px;
    display: inline-block; 
    vertical-align: middle
}

#copyright {
    float: left;
    margin-top: 1.5em;
    color: #8493A8;
    text-align: center;
}
#footer-mascot {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 40px;
    transform: translate(-50%, -50%);
}

#footer-pattern {
    z-index: -1;
    float: right;
    position: absolute;
    right: 0;
    bottom: -2em;
    margin: 0;
    height: 5em;
    object-fit: cover;
    overflow: hidden;
}

::placeholder {
    color: white;
}