body {
    background-color: #F0F1FA;
}


h1 {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 6em;
}

h3 {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 2.5em;
    text-transform: uppercase;
    line-height: 0.8;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

a:active {
    color: black;
    text-decoration: none;
}

.rounded {
    border-radius: 20px !important;
}

#footer {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    vertical-align: bottom;
    display: inline-block;
    text-align: center;
}

#copyright {
    bottom: 0;
    left: 0;
}

#footer-mascot {}

#footer-pattern {
    position: absolute;
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
}


/* body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #F0F1FA;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    position: relative;
    top: 0%;
    margin-left: 15%;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 6em;
}

nav {
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
}

input:focus{
    outline: none;
    color: rgba(255, 255, 255, 0.3);
}

.content {
    position: relative;
    width: 50%;
    left: 35%;
    margin: 0;
    margin-bottom: 1em;
    top: -4em;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    background: white;
    border-radius: 15px;
    box-shadow: 0 20px 60px 0px rgba(0,0,0,0.2);
}

.content:hover {
    -webkit-animation: shadow-drop-2-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-drop-2-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      box-shadow: 0 20px 60px 0px rgba(0,0,0,0.2);
    }
    100% {
      -webkit-transform: translateZ(50px);
              transform: translateZ(50px);
      box-shadow: 0 20px 70px 0px rgba(0,0,0,0.3);
    }
  }

.button {
    text-align: center;
    width: 55%;
    height: 10%;
    padding: 7% 20%;
    margin-bottom: 10%;
    text-decoration: none;
    font-size: 0.6em;
    display: inline-block;
    background-color: rgba(117, 117, 117, 0); 
    border: 1px solid rgb(128, 128, 128);
    border-radius: 50px;
    color: rgb(128, 128, 128);
}



#login {
    margin-bottom: 1em;
    border: 1px solid #A839BA;
    color: #A839BA;
}

#login:hover {
    -webkit-animation-name: highlight-register; 
    -webkit-animation-duration: 0.2s;
    animation-name: highlight-register;
    animation-duration: 0.2s;
    background-color: white;
    background-image: none;
    color: #A839BA;
    border: 1px solid #A839BA;

}

@keyframes highlight-login {
    from {
        background-color: rgba(255,255,255,0);
        color: white;
    }
    to {
        background-color: white;
        color: #A839BA;
        border: 1px solid #A839BA;

    }
}

#register {
    background-image: linear-gradient(to right, #8F5EFF , #1CE1FF);
    color: white;
    border: none;
    font-weight: 400;
    border: 1px solid rgba(0,0,0,0);

}

#register:hover {
    -webkit-animation-name: highlight-register; 
    -webkit-animation-duration: 0.2s;
    animation-name: highlight-register;
    animation-duration: 0.2s;
    background-color: white;
    background-image: none;
    color: #A839BA;
    border: 1px solid #A839BA;

}

@keyframes highlight-register {
    from {
        background-color: rgba(255,255,255,0);
        color: white;
    }
    to {
        background-color: white;
        color: #A839BA;
        border: 1px solid #A839BA;

    }
}
#user-box {
    float: left;
    position: absolute;
    width: 16%;
    left: 15%;
    top: 5.5em;
    font-weight: 400;
    font-size: 2em;
    padding-top: 0;
}

#nav-bar {
    position: absolute;
    width: 100%;
    height: 10%;
    color: white;
    font-weight: 900;
    display: table-cell;
}

#background {
    z-index: -1;
    float: left;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

#home, #category, #search, #about, #contact {
    margin: 10px;
    display: inline-block; 
    vertical-align: middle;
    text-align: center;
}
#search {
    margin: 10px;
    padding-top: 0.2em;
    padding-left: 1em;
    width: 25em;
    height: 1.7em;
    border: 1px solid white;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    font-weight: 300;
    font-size: 1em; 
    color: rgba(255, 255, 255, 50);
}

#footer {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    vertical-align: bottom;
    display: inline-block;
    text-align: center;
}

#copyright, #footer-mascot, #footer-pattern {
    margin: 10px;
    display: inline-block; 
    vertical-align: middle
}

#copyright {
    float: left;
    margin-top: 1.5em;
    color: #8493A8;
    text-align: center;
}
#footer-mascot {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 40px;
    transform: translate(-50%, -50%);
}

#footer-pattern {
    z-index: -1;
    float: right;
    position: absolute;
    right: 0;
    bottom: -2em;
    margin: 0;
    height: 5em;
    object-fit: cover;
    overflow: hidden;
}

::placeholder {
    color: white;
} */